
body{
    background-image: linear-gradient(to bottom right, purple, yellow);
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
      }
h1{
    color: grey;
    font-size: 30pt
}
.paragraph{
    font-size: 15pt;
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }
