
:root{
    background-size: cover;
    background-attachment: fixed;
    background: rgb(92,249,101);
    background: linear-gradient(122deg, rgba(92,249,101,1) 28%, rgba(255,136,247,1) 100%);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
      }
h1{
    color: white;
    font-size: 30pt
}
.paragraph{
    font-size: 15pt;
}

.odd{
    font-size: 16pt;
    font-family: arial;
    color: red;
}

.even{
    font-size: 20pt;
    font-family: verdana;
    color: blue;
}
