
:root{
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, "#ff85fd", "#1cff59");
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
      }
h1{
    color: white;
    font-size: 30pt
}
.paragraph{
    font-size: 15pt;
}

.odd{
    font-size: 16pt;
    font-family: arial;
    color: red;
}

.even{
    font-size: 20pt;
    font-family: verdana;
    color: blue;
}
